<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header font-weight-bold h4 d-flex">
            <i class="fa fa-align-justify"></i> Notificaciones
            <select #nreg class="form-control col-lg-1 ml-auto" (change)="enviarNumeroRegistros(nreg.value)">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
          <div class="card-body">
            <div class="div table-container ">
              <table class="table table-striped table-hover table-responsive">
                <thead>
                  <tr class="table-info">
                    <th>Remitente</th>
                    <th>Asunto</th>
                    <th>Fecha/hora</th>
                    <th>Empresa</th>
                    <th>Estado</th>

                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;" (click)="openModal(template, not)"
                    [ngClass]="{estadoNoLeido: not.estado.estado === 'ACTIVO'}" *ngFor="let not of notificacion">
                    <td>{{ not.personaRemitente.nombre1 }} {{ not.personaRemitente.apellido1 }}</td>
                    <td>{{ not.asunto }}</td>
                    <td>{{ not.fecha | date }}/{{ not.hora }}</td>
                    <td>{{ not.empresa.razonSocial }}</td>
                    <td *ngIf="not.estado.estado === 'ACTIVO'; else estado">No leído</td>
                    <ng-template #estado>
                      <td>Leído</td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
              <div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-custom-modal title="Detalle de la notificación" [(show)]="showModalNotificacion">
  <div class="modal-body ">
    <div class="mensaje-modal ml-5">
      {{ mensaje?.mensaje }}
    </div>
  </div>
</app-custom-modal>