<div class="modal-body">
    <div class="card-header">
        <strong>Asignar tipo de documento</strong>
    </div>
    <div class="card-body">

        <table class="table" *ngIf="tipoDocs.length;else emptyTipoDocs">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Tipo de Documento</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoDoc of tipoDocs; let index = index">
                    <td>{{tipoDoc.id}}</td>
                    <td>{{tipoDoc.tituloDocumento}}</td>
                    <td>{{tipoDoc.descripcion ?? 'No hay descripción disponible'}}</td>
                    <td>
                        <app-custom-switch (checkedChange)="selectTipoDocumento($event,tipoDoc.id)" [size]="8">
                        </app-custom-switch>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #emptyTipoDocs>
            <p>No hay tipos de documentos disponibles para asignar</p>
        </ng-template>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" (click)="getProcesoTipoDocumentos()">
                <i class="fa fa-dot-circle-o"></i> Aceptar
            </button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()">
                <i class="fa fa-ban"></i>
                Cancelar
            </button>
        </div>
    </div>
</div>