<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row pt-3">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form novalidate [formGroup]="formLogin" (keydown)="onEnter($event)">
                  <h1>Iniciar sesión</h1>
                  <p class="text-muted">Ingrese su cuenta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="ejemplo@gmail.com" autocomplete="usuario"
                      formControlName="usuario">
                  </div>
                  <alert *ngIf="usuarioField.hasError('invalidEmail') && usuarioField.dirty" type="danger">
                    <strong>Error!</strong> El correo electrónico debe ser válido.
                  </alert>
                  <alert *ngIf="usuarioField.hasError('required') && usuarioField.dirty" type="danger">
                    <strong>Error!</strong> Este campo es obligatorio, ingrese su correo electronico
                  </alert>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password"
                      formControlName="password">
                  </div>
                  <alert *ngIf="passwordField.hasError('required') && passwordField.dirty" type="danger">
                    <strong>Error!</strong> Este campo es obligatorio, ingrese la contraseña
                  </alert>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" (click)="login()" class="btn btn-primary px-4">Iniciar</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="recoverPassword()">¿Olvido su
                        contraseña?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>