<div class="col-md-12 grid-margin">
  <div class="card">
    <div class="card-header font-weight-bold h4">
      <i class="fa fa-align-justify"></i>Asignación de permisos
      <select #nreg class="form-control col-lg-2" (change)="enviarNumeroRegistros(nreg.value)">
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </div>
    <div class="card-body">
      <form [formGroup]="form" class="forms-sample" (ngSubmit)="guardarPermiso()">
        <div class="ng-autocomplete mb-3">
          <label for="rol" class="font-weight-bold">Roles</label>
          <ng-autocomplete #auto 
            [data]="objRol" 
            [searchKeyword]="keyword" 
            placeholder="Seleccione un rol"
            (selected)='menusByrol($event?.id)' 
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)' 
            [itemTemplate]="itemTemplate" 
            [notFoundTemplate]="notFoundTemplate"
            [initialValue]="''">
          </ng-autocomplete>
          <div *ngIf="rol.invalid" class="mt-2">
            <span style="color:red">Debes seleccionar un rol </span>
          </div>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="'No se ha encontrado este rol'"></div>
          </ng-template>
        </div>
        <div *ngIf="rol.valid && objRol">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre permiso</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of menus | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
                  <td>{{ m.name }}</td>
                  <td>{{ m.description }}</td>
                  <app-custom-switch [(checked)]="m.checked" [size]="8">
                  </app-custom-switch>
                </tr>
              </tbody>
            </table>
            <ul>
              <span>
                <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
              </span>
            </ul>
          </div>
          <button type="submit" class="mt-2" class="btn btn-success">
            Guardar permisos
          </button>
        </div>
      </form>
    </div>
  </div>
</div>