<div class="col-md-12 grid-margin">
  <div class="card">
    <div class="card-header" style="font-weight: bold;">
      <i class="fa fa-align-justify"></i>Asignación de permisos
      <select #nreg class="form-control col-lg-2" (change)="enviarNumeroRegistros(nreg.value)">
        <option>5</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>
    <div class="card-body">
      <form [formGroup]="form" class="forms-sample" (ngSubmit)="guardarPermiso()">

        <div class="ng-autocomplete">
          <label for="rol" style="font-weight: bold;">Roles</label>
          <ng-autocomplete 
            [data]="objRol"
            [searchKeyword]="keyword" 
            placeholder="Seleccione un rol"
            (selected)='menusByrolNumber($event?.id)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <div *ngIf="rol.invalid && (rol.dirty || rol.touched)">
            <span style="color:red" *ngIf="rol.errors.required">Debe seleccionar un rol </span>
          </div>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div *ngIf="objRol">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre permiso</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of menus; let indice=index">
                  <td>{{ m.name }}</td>
                  <td>{{ m.description }}</td>
                  <app-custom-switch [(checked)]="m.checked" [size]="8">
                  </app-custom-switch>
                </tr>
              </tbody>
            </table>
            <ul>
              <span>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
              </span>
            </ul>
          </div>
          <button type="submit" class="mt-2" [class]="update?'btn btn-warning':'btn btn-success mr-10 btn-md'">
            {{update?'Actualizar':'Guardar permiso'}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>