<div class="modal-body">
  <div class="card-header">
    <strong>{{formTitle}}</strong>
  </div>
  <div class="card-body">

    <form class="rolFormulario" [formGroup]="formRol">

      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="name">Nombre rol</label>
        <div class="col-md-7">
          <input type="text" placeholder="Ingrese el nombre del rol" class="form-control text-uppercase" [ngClass]="{
              'is-valid': nombreRolField.valid && (nombreRolField.dirty || nombreRolField.touched),
              'is-invalid': nombreRolField.invalid && (nombreRolField.dirty || nombreRolField.touched)
            }" formControlName="name">
          <div *ngIf="nombreRolField.invalid && (nombreRolField.dirty || nombreRolField.touched)"
            class="invalid-feedback">
            <div>Por favor ingrese un valor válido (sin caracteres especiales ni números y entre 4 y 20 caracteres).</div>
          </div>
        </div>
      </div>

    </form>

    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary" (click)="guardarRol()" [disabled]="formRol.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>