<div class="modal-body">
  <div class="card-header">
    <strong>Registrar tipo de pago</strong>
  </div>
  <div class="card-body">
    <form class="tipoPagoFormulario" [formGroup]="formTipoPago" class="was-validated" novalidate>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="detalleTipoPago">Tipo de pago</label>
        <div class="col-md-7">
          <input type="text" placeholder="Ingrese el nombre del tipo de pago" class="form-control is-valid"
            formControlName='detalleTipoPago' [ngClass]="{'is-invalid': isNameInvalid()}" (input)="onNameInputChange($event)"
            required>
          <div *ngIf="isNameValid()" class="valid-feedback">
            Valor válido
          </div>
          <div *ngIf="isNameInvalid()" class="invalid-feedback">
            Por favor ingrese un valor válido (sin caracteres especiales ni números y entre 4 y 20 caracteres).
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipoPago()"
        [disabled]="formTipoPago.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>