h3{
    margin-bottom: 0;
}
.back-button{
    width: 30px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-content: center;
}
td{
    max-width: 250px;
    text-wrap: break-word;
}