<app-list-tipo-transaccion
  [tipoTs]="tipoTs"
  (delete)="eliminarTipoT($event)"
  (update)="actualizarTipoT($event)"
  (create)="createTipoT()"
  (info)="verInfoTipoTransaccion($event)">
</app-list-tipo-transaccion>

<app-custom-modal
  title="Gestión Tipo Transacción"
  [(show)]="showModalTipoT">
  <app-add-tipo-transaccion
    *ngIf="showModalTipoT"
    [tipoT]="tipoT"
    (store)="guardarTipoT($event)"
    (cancel)="reset()">
  </app-add-tipo-transaccion>
</app-custom-modal>

<app-custom-modal
  size="lg"
  title="Descripción tipo de transacción"
  [(show)]="showInfoTipoT">
  <app-tipo-transaccion-info
    *ngIf="showInfoTipoT"
    [tipoTransaccion]="tipoT"
    (cerrar)="reset()">
  </app-tipo-transaccion-info>
</app-custom-modal>
