// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.logo--company.navbar-brand-full{
  height: 97%;
}

app-header .navbar-toggler:nth-child(5)
{
  display: none !important ;
}
app-header .d-lg-none:nth-child(6)
{
  display: none !important ;
}
